body,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "side-menu content content content content"
    "footer footer footer footer footer";


    .header{
        grid-area: header;
    }
    .side-menu{
        grid-area: side-menu;
    }
    .footer{
        grid-area:footer;

    }
}