<div class="os-side-menu-container">
    <div class="os-side-menu">
        <div class="os-ul-side-menu">
            <li>
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </li>
            <li>
                <mat-icon>location_searching</mat-icon>
                <span>Locations</span>    
            </li>
            <li>
                <mat-icon> table_chart</mat-icon>
                <span>Offices</span>
            </li>
            <li>
                <span>Partners</span>
            </li>
            <li>
                <span>Our Policy</span>
            </li>
        </div>
    </div>
</div>